.input-wrapper{
  margin: auto;
}
 
input#userInput {
  margin: auto;
  width: 100vh;
  padding-right: 40px; 
  padding-left: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}


button.submit-btn, .stop-btn {
  position: relative;
  right: 7vh;
  top: 13px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

button.submit-btn:hover {
  color: #b15454;
}

