/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 92%;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
  }
  
  .sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .session-list {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 10px;
    height: auto;
    margin-bottom: 20vh;
  }
  
  .session-list::-webkit-scrollbar {
    display: none;
  }
  
  .session-link {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    padding: 7px 12px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: left;
    border: none;
    overflow-x: auto;
    scrollbar-width: none;
    color: white;
  
    background: linear-gradient(to right, #1a1a1a, #000000);
  }

  
  .session-link.active {
    background-color: #525252;
    color: white;
  
  }
  
  .session-link.active {
    background: linear-gradient(to right, #bebdbd, #070707);
    color: black;
  }
  
  .new-session-button {
    width: 90%;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    background-color: rgb(16, 16, 16);

  }
  
  .new-session-button:hover {
    background-color: #525252;
  }
  
  .logo-section {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
